/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo img {
  width: 100px;
  margin-top: 6%;
}

h1 {
  font-weight: 600;
  font-family: Arial;
}

.bold {
  font-weight: 600;
}

p {
  line-height: 2rem;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background-color: #ffb300;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.resize {
  max-width: 20%;
}

h4 {
  margin-top: 6%;
}

addctn {
  margin-top: 10%;
}

.standard {
  background-color: #306cb4;
}

.standard:hover {
  background-color: #ed1d24;
}


h1 {
  margin-top: 5%;

}